main .headline {
  margin: 1em;
  text-align: center;
}

main .headline svg {
  width: 430px;
}

main .menus {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}

main .menus button {
  border: none;
  background: none;
  margin: 5px;
}

main .menus button:hover {
  background-color: beige;
}

main .news {
  border-bottom: 2px solid black;
}

main .news div {
  padding: 1em;
}

main .news div img {
  max-width: 100%;
}
